<style type="text/css" media="screen">

  .header .el-form-item {
    margin-bottom: 5px;
  }

  .header .el-select {
    width: 100%;
  }

</style>

<div id="CustomerVisit">
  <!-- <h1>CustomerVisit</h1> -->
  <div class="header">
    <el-row>
      <el-col :span="12" style="text-align:left;float: left;">客户来访管理</el-col>
      <el-col :span="12" style="text-align:right">
        <el-button @click="addBtnEvent">新增</el-button>
        <el-button @click="exportTable">导出</el-button>
      </el-col>
    </el-row>

    <div style="width: 100%; height: 6px; border-bottom: 1px #000 solid"></div>

    <br>
    <div>
      <el-form ref="form" :model="search_form" label-width="80px" size="mini">
        <el-row>
          <el-col :span="6">
            <el-form-item label="年份:">
              <el-date-picker
                      v-model="search_form.year"
                      align="right"
                      type="year"
                      placeholder="选择年"
                      value-format="yyyy">
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="6">

            <el-form-item label="月:">
              <el-select v-model="search_form.visitTime" placeholder="选择月" clearable>
                <el-option
                        v-for="item in months"
                        :label="item.lable"
                        :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>

        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="来访单位:">
              <el-input v-model="search_form.visitUnit"></el-input>
            </el-form-item>

          </el-col>
          <el-col :span="2">
            <el-button type="primary" @click="search" size="mini">查询</el-button>
          </el-col>
        </el-row>
      </el-form>
    </div>
  </div>

  <!--  <div style="width: 100%; height: 6px; border-bottom: 1px #000 solid"></div> -->
  <hr/>
  <el-table id="CV_table" :data="customerTable" borde stripe style="width: 100%">
    <el-table-column prop="year" label="年份"></el-table-column>
    <el-table-column prop="visitTime" label="日期"></el-table-column>
    <el-table-column prop="visitUnit" label="来访单位"></el-table-column>
    <el-table-column prop="objective" label="来访目的"></el-table-column>
    <el-table-column prop="cuser" label="客户来访人员"></el-table-column>
    <el-table-column prop="hlUser" label="HL接访人员"></el-table-column>
    <el-table-column prop="remark" label="备注"></el-table-column>
    <el-table-column width="125" label="操作">
      <template slot-scope="scope">
        <el-button size="mini" @click="editBtnEvent(scope.$index, scope.row)"><i class="el-icon-edit"></i>
        </el-button>
        <el-button size="mini" @click="delBtnEvent(scope.$index, scope.row)"><i class="el-icon-delete"></i>
        </el-button>
      </template>
    </el-table-column>
  </el-table>


</div>


<script src="../js/business/CustomerVisit.js"></script>